.container{
    margin-top: 20px;
}
.jci_mean{
    display: flex;
    justify-content: center;
}
.jci_mean>*{
    margin: 10px;
}
.logo_about-us{
    width: 200px;
}
.mean{
    font-size: 20px;
}
.visi_misi{
    display: flex;
    justify-content: space-evenly;
}