.nama_kategori{
    text-align: center;
    color: white;
    background-color: #fc6404;
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.item1{
    display: flex;
    flex-direction: column;
    background-color: #fc6404;
    padding: 10px;
    box-shadow: 0px 10px 13px -7px #000000;
}
.item1>*{
    text-align: center;
    color: white;
}
.judul{
    font-size: x-large;
    text-decoration: none;
}
.judul:hover{
    text-decoration: underline;
}
.image_detail_category{
    width: 350px;
}
.link_penulis{
    text-decoration: none;
    color: white;
}
.link_penulis:hover{
    text-decoration: underline;
}