.outer_container_article{
    display: flex;
    flex-direction: column;
}
.inner_container{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0px -10px 0 -10px;

}
.penulis>*, .penulis, .kategori, .kategori a{
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.penulis a:hover, .kategori a:hover{
    text-decoration: underline;
}
.main_picture{
    width: 400px;
}
.short_article{
    padding-left: 15px;
}
.short_article h1 a{
    text-decoration: none;
    color:black;
}
.date_uploaded{
    margin: -20px 0 20px 0;
}
.container{
    margin-top: 20px;
}